* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'INTUITIVE-FREE', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 16px;
  background-color: #333;
  color: #fff;
  padding: 18px;
  position: relative;
  flex-shrink: 0;
}

main {
  text-align: center;
  letter-spacing: 0.09em;
  padding: 18px;
  flex-grow: 1;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
}

footer {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  background-color: #333;
  color: #fff;
  padding: 18px;
  flex-shrink: 0;
}

@font-face {
  font-family: '9FUKOLYM';
  src: url('/fonts/9FUKOLYM.ttf') format('truetype');
}
@font-face {
  font-family: 'INTUITIVE-FREE';
  src: url('/fonts/INTUITIVE-FREE.ttf') format('truetype');
}
@font-face {
  font-family: 'PTMono-Regular';
  src: url('/fonts/PTMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'TypeMeTwo';
  src: url('/fonts/TypeMeTwo.ttf') format('truetype');
}
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'INTUITIVE-FREE', 'PTMono-Regular', monospace;sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 27px;
  position: relative;
}
h1 {
  margin: 0;
}
nav ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0 10px 0 0;
  border-right: 1px solid white;
  padding-right: 10px;
}
nav li:first-child {
  border-left: 1px solid white;
  padding-left: 10px;
}
nav li:last-child {
  border-right: 1px solid white;
}
nav a {
  letter-spacing: 0.05em;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  transition: all 0.9s ease;
  z-index: -1;
}
nav a:hover {
  background-color: hsla(0, 0%, 83%, 0.233);
  color: #fffefe86;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px hsla(0, 0%, 54%, 0.5);
  transition: all 0.5s ease;
  transform-origin: left;
  transform: scaleX(0);
}

main {
  text-align: center;
  letter-spacing: 0.09em;
  padding: 54px;
  color: white;
}

footer {
  text-align: center;
  letter-spacing: 0.05em;
  background-color: #333;
  color: #fff;
  padding: 27px;
}
